val scala2Version = "$scala_2_version$"

lazy val root = project
  .in(file("."))
  .settings(
    name := "$project$",
    version := "0.1.0-SNAPSHOT",

    scalaVersion := scala2Version,
{% if test_framework == "scalatest" %}
   libraryDependencies += "org.scalatest" %% "scalatest" % "$scalatest_version$" % Test
{% else %}
   libraryDependencies += "org.scalameta" %% "munit" % "$munit_version$" % Test
{% endif %}
  )
