{%- if test_framework == "scalatest" -%}
import org.scalatest.flatspec.AnyFlatSpec
import org.scalatest.matchers.should.Matchers

// For more information on writing tests, see
// https://www.scalatest.org/user_guide
class $project$Suite extends AnyFlatSpec with Matchers {

  "An example test" should "succeed" in {
    val obtained = 42
    val expected = 42
    obtained shouldEqual expected
  }
}
{%- else -%}
import munit.FunSuite
// For more information on writing tests, see
// https://scalameta.org/munit/docs/getting-started.html
class $project$Suite extends FunSuite {

  test("example test that succeeds") {
    val obtained = 42
    val expected = 42
    assertEquals(obtained, expected)
  }
}
{% endif %}
